:root {
  --color-background: lightcyan;
  --color-text: black;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: black;
    --color-text: white;

    color: var(--color-text);
  }
}

body {
  background-color: var(--color-background);
}
